@model Lesson6.ViewModels.ShoppingCartViewModel



<p>@Html.DisplayNameFor(model=>model.CartItems)</p>

        
@foreach(var item in Model.CartItems)
{
    <div class="col-md-3">
<div id="shopping">
    
    <p>@item.Product.Price</p>
    <p>@item.Count</p>
    
    <p>
        <a asp-action="RemoveFromCart" asp-route-id="@item.ProductId">Delete</a>
    </p>
</div>
    </div>
}

<a asp-controller="ShoppingCart" asp-action="CheckOut">Pay</a>






    